/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
  background-image: url('./assets/bg.gif');
  background-size: cover;
  height: 100vh;
  background-position: 0%;
  background-attachment: fixed;
}

.navbar {
  background: #332a224e;
  backdrop-filter: blur(10px);
}

@media (max-width: 767px) {
  body {
    height: fit-content;
  }
}

/* prayer times start*/
.prayertimes {
  display: flex;
  height: calc(100vh - 55.99px);
  align-items: center;
}

.prayer-times-container {
  width: 650px !important;
  color: white;
  background: #332a224e;
  backdrop-filter: blur(10px);
  padding: 30px 25px;
  margin: 15% !important;
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .container {
    margin: 20px !important;
  }
}

.container .top_sec {
  display: flex;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d7d74e;
}

@media (max-width: 767px) {
  .container .top_sec {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.container .top_sec .city {
  flex: 1;
}

@media (max-width: 767px) {
  .container .top_sec .city {
    margin-left: 11px;
  }
}

.container .top_sec .city h3{
  font-size: 26px;

}

@media (max-width: 767px) {
  .container .top_sec .city h3 {
    font-size: 18px;
  }
}

.container .top_sec .city select {
  width: 250px;
  border-radius: 5px;
  outline: none;
  background-color: #c0583e75;
  padding: 2px 10px;
  color: white;
  font-size: 22px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .container .top_sec .city select {
    width: 150px;
    font-size: 16px;
  }
}

.container .top_sec .date {
  flex: 1;
}

.container .top_sec .date h4{
  font-size: 26px;
}

@media (max-width: 767px) {
  .container .top_sec .date h4 {
    font-size: 13px;
  }
}

.container .times .prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0583e75;
  padding: 5px 25px;
  border-radius: 5px;
  border: 1px solid #d7d7d74e;
  font-size: 24px;
}

@media (max-width: 767px) {
  .container .times .prayer {
    font-size: 16px;
  }
}

.container .times .prayer:not(:last-child) {
  margin-bottom: 25px;
}

p {
  margin-bottom: 0 !important;
}

.countdown {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
} 

@media (max-width: 767px) {
  .countdown h5 {
    font-size: 10px;
  }
}
/* prayer times end*/

/* quran start */

.quran {
  display: flex;
  align-items: center;
}

.quran .quran-container {
  color: white;
  background: #332a224e;
  backdrop-filter: blur(10px);
  padding: 30px 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.quran .quran-container .card {
  width: 350px;
  height: 155px;
  flex-grow: 1;
  padding: 10px 15px;
  background-color: #c0583e75 !important;
  color: white !important;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

.quran .quran-container .card:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.459) !important;
  color: black !important;
}

.quran .quran-container .card .sura-info {
  display: flex;
  justify-content: space-between;
}
/* quran end */


/* ayat start */
.surah {
  display: flex;
  align-items: center;
}

.ayat-container {
  color: white;
  background: #332a224e;
  backdrop-filter: blur(10px);
  padding: 30px 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ayat-container .ayat {
  display: block;
  line-height: 2.4;
  font-size: 26px;
}

.ayat-container .ayaText {
  display: inline;
  margin-left: 8px;
}

.ayat-container .aya-num {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 16px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 10px;
  font-weight: bold;
}
/* ayat end */

